/* index.html */

.navbar-style {
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
	background-color: #263248;
}

.btn-watch {
	border-radius: 0;
	background-color: rgba(0, 0, 0, .2);
	color: rgba(255, 255, 255, 0.4);
	display: block;
}

.btn-watch:hover {
	color: rgba(255, 255, 255, 0.6);
}

.primary-title {
	display: block;
	margin: 0;
	padding: 0.75rem 0;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-weight: normal;
}

.card-section, .episodes-section, .list-section {
	padding-top: 3rem;
}

.bg-color, .banner-section, .episode {
	background: radial-gradient(ellipse at top, #2D3B55 0%, #263248 60%, #263248 100%);
}

.card-style {
	background-color: rgba(0, 0, 0, 0.15);
}

/* dragonball.html */

.list-section {
	padding-bottom: 3rem;
	background-color: #1B2333;
}

.banner-section img {
	max-height: 600px;
}

.list-section {
	box-shadow: 0 -2px 6px 0px rgba(0, 0, 0, 0.5);
}

.episode iframe {
	height: 625px;
	width: 100%;
}

ul {
	list-style-type: none;
}

.lighter {
	font-weight: lighter;
}

.normal {
	font-weight: normal;
}

.footer {
	background-color: #4C5462;
	box-shadow: 0 -2px 2px 0px rgba(0, 0, 0, 0.5);
}

.img-width {
	width: 100%;
}